
<style>
h2{

	}

h1{
background-color: lightskyblue;
    color: cornflowerblue;
text-align:center;
    text-align: center;
    display: inline-block;
	    vertical-align: top;
		    margin-right: 2;
margin-left: 20%;
    margin-top: 14%
	
}
img{
    margin-left: 20;
    margin-top: 50px;
}
label{
display:block;
width:200px;
float:left;
text-align:right;
margin:10px 5px;
clear:left;
}
input,select,textarea{
margin:10px 5px;
vertical-align:middle;
}
</style>
</head>
<body>
<form>

<img src="images/hr.jpeg"width="200"height="250"/>
<form action="/action_page.php"method="post">
<h1>HR PAYROLL S</h1>
</br>
<fieldset>
<h2>EMPLOYEE DETAILS</h2>
</br>
<label for="first-name">FIRST NAME</label>
<input type="text" name="first-name" id="first-name" maxlength="5"/>
</br>
<label for="last-name">LAST NAME</label>
<input type="text" name="last-name" id="last-name"/>
</br>
<label for="d-o-b">D.O.B</label>
<select id="month_start" name="month_start"/>
    <option>January</option>       
    <option>February</option>       
    <option>March</option>       
    <option>April</option>       
    <option>May</option>       
    <option>June</option>       
    <option>July</option>       
    <option>August</option>       
    <option>September</option>       
    <option>October</option>       
    <option>November</option>       
    <option>December</option> 
</select>
<select id="day_start" name="day-start">
    <option>1</option>       
    <option>2</option>       
    <option>3</option>       
    <option>4</option>       
    <option>5</option>       
    <option>6</option>       
    <option>7</option>       
    <option>8</option>       
    <option>9</option>       
    <option>10</option>       
    <option>11</option>       
    <option>12</option>       
    <option>13</option>       
    <option>14</option>       
    <option>15</option>       
    <option>16</option>       
    <option>17</option>       
    <option>18</option>       
    <option>19</option>       
    <option>20</option>       
    <option>21</option>       
    <option>22</option>       
    <option>23</option>       
    <option>24</option>       
    <option>25</option>       
    <option>26</option>       
    <option>27</option>       
    <option>28</option>       
    <option>29</option>       
    <option>30</option>       
    <option>31</option>  	
</select>
<select id="year_start" 
         name="year_start" /> 
    <option>2009</option>       
    <option>2010</option>       
    <option>2011</option>       
    <option>2012</option>       
    <option>2013</option>       
    <option>2014</option>       
    <option>2015</option>       
    <option>2016</option>       
    <option>2017</option>       
    <option>2018</option>       
  </select> 
</br>
<label for="radio">GENDER</label>
<input type="radio" name="radio"value="rd1"id="radio"/>female
<input type="radio" name="radio"value="rd2"id="radio"/>male
</br>
<label for="number">AGE</label>
<input type="number"value="number" id="number"/>
</br>
<label for="email">EMAIL</label>
<input type="email"name="email"placeholder="enter valid email address" id="email"/>
</br>
<label for="number">CONTACT</label>
<input type="number"name="number"id="number"/>
</br>
<label for="address">ADDRESS</label>
<textarea name="address"></textarea>
</br>
<label for="degree">DEGREE</label>
<select name="dropdown">
<option value="1">b.tech</option>
<option value="2">b.e</option>
<option value="3">b.sc</option>
<option value="4">m.tech</option>
<option value="5">m.e</option>
<option value="1">m.sc</option>
</select>
</br>
<label for="designation">DESIGNATION</label>
<select name="dropdrown">
<option value="1">trainee</option>
<option value="2">trainer</option>
<option value="3">developer</option>
<option value="4">quality assurance</option>
<option value="5">hr</option>
</select>
</br>
<label for="text">LOCATION</label>
<input type="TEXT"name="text"id="text"/>
</br>
<label for="start_date">START DATE</label>
<select id="month_start" name="month_start"/>
    <option>January</option>       
    <option>February</option>       
    <option>March</option>       
    <option>April</option>       
    <option>May</option>       
    <option>June</option>       
    <option>July</option>       
    <option>August</option>       
    <option>September</option>       
    <option>October</option>       
    <option>November</option>       
    <option>December</option> 
</select>
<select id="day_start" name="day-start">
    <option>1</option>       
    <option>2</option>       
    <option>3</option>       
    <option>4</option>       
    <option>5</option>       
    <option>6</option>       
    <option>7</option>       
    <option>8</option>       
    <option>9</option>       
    <option>10</option>       
    <option>11</option>       
    <option>12</option>       
    <option>13</option>       
    <option>14</option>       
    <option>15</option>       
    <option>16</option>       
    <option>17</option>       
    <option>18</option>       
    <option>19</option>       
    <option>20</option>       
    <option>21</option>       
    <option>22</option>       
    <option>23</option>       
    <option>24</option>       
    <option>25</option>       
    <option>26</option>       
    <option>27</option>       
    <option>28</option>       
    <option>29</option>       
    <option>30</option>       
    <option>31</option>  	
</select>
<select id="year_start" 
         name="year_start" /> 
    <option>2009</option>       
    <option>2010</option>       
    <option>2011</option>       
    <option>2012</option>       
    <option>2013</option>       
    <option>2014</option>       
    <option>2015</option>       
    <option>2016</option>       
    <option>2017</option>       
    <option>2018</option>       
  </select> 
  </br>
<label for="end-date">END DATE</label>
<select id="month_start" name="month_start"/>
    <option>January</option>       
    <option>February</option>       
    <option>March</option>       
    <option>April</option>       
    <option>May</option>       
    <option>June</option>       
    <option>July</option>       
    <option>August</option>       
    <option>September</option>       
    <option>October</option>       
    <option>November</option>       
    <option>December</option> 
</select>
<select id="day_start" name="day-start">
    <option>1</option>       
    <option>2</option>       
    <option>3</option>       
    <option>4</option>       
    <option>5</option>       
    <option>6</option>       
    <option>7</option>       
    <option>8</option>       
    <option>9</option>       
    <option>10</option>       
    <option>11</option>       
    <option>12</option>       
    <option>13</option>       
    <option>14</option>       
    <option>15</option>       
    <option>16</option>       
    <option>17</option>       
    <option>18</option>       
    <option>19</option>       
    <option>20</option>       
    <option>21</option>       
    <option>22</option>       
    <option>23</option>       
    <option>24</option>       
    <option>25</option>       
    <option>26</option>       
    <option>27</option>       
    <option>28</option>       
    <option>29</option>       
    <option>30</option>       
    <option>31</option>  	
</select>
<select id="year_start" 
         name="year_start" /> 
    <option>2009</option>       
    <option>2010</option>       
    <option>2011</option>       
    <option>2012</option>       
    <option>2013</option>       
    <option>2014</option>       
    <option>2015</option>       
    <option>2016</option>       
    <option>2017</option>       
    <option>2018</option>       
  </select> 
</br>
<label for="color">FOVOURITE COLOR</label>
<input type="color" name="favcolor" value="color"/>
</br>
</fieldset>
<fieldset>
<h2>Project Details</h2>
</br>
<label for="name">PROJECT NAME</label>
<input type="text" name="name" id="name"/>
<label for="name">Project MANAGER</label>
</br>
<input type="text" name="name" id="name"/>
</br>
</fieldset>
</body>
</html>